<div class="confirmation-container">
    <strong>You are Booked!!!</strong>

    <!-- Flight Details -->
    <div class="flight-details">
        <h3>Flight Details</h3>
        <p><strong>Flight Number:</strong> {{ scheduleService.getFlightNo() }}</p>
        <p><strong>Source:</strong> {{ scheduleService.getFlightSource() }}</p>
        <p><strong>Destination:</strong> {{ scheduleService.getFlightDestination() }}</p>
        <p><strong>Departure Time:</strong> {{ scheduleService.getFlightTime() }}</p>
        <hr>
    </div>

    <!-- Passenger Details -->
    <div class="passenger-details" *ngFor="let passenger of passengerDetailsArray; let i = index">
        <h4>Passenger {{ i + 1 }} Details</h4> <!-- Adding Passenger Number -->
        <p><strong>Full Name:</strong> {{ passenger.full_name }}</p>
        <p><strong>Date of Birth:</strong> {{ passenger.dob }}</p>
        <p><strong>Gender:</strong> {{ passenger.gender }}</p>
        <p><strong>Passport Number:</strong> {{ passenger.passport_number }}</p>
        <p><strong>Mobile Number:</strong>{{passenger.mobile_num}}</p>
        <p><strong>Seat Number:</strong> {{ passenger.seat_no }}</p>
        <p><strong>Tier:</strong>{{passenger.tier}}</p>
        <p><strong>Price:</strong>{{ getPrice(i) }}</p>
    </div>
    <div class="buttons">
        <button class="navigate-button" (click)="downloadPdf()">Download PDF</button> <!-- Download PDF Button -->

        <!-- Back to Home Button -->
        <button class="navigate-button" (click)="navigateToRoute()">Back Home</button>
    </div>

</div>
