<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <!-- Email Input -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" class="form-control" required>
    </div>
    
    <!-- Password Input -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" class="form-control" required>
    </div>
    
    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
    <!-- Login Button -->
    <button type="submit" class="btn-primary">Login</button>
    <br>

    <!-- Admin Login Button-->
    <button type="button" class="btn-admin" (click)="navigateToAdminLogin()">Go To Admin Login</button>

    <!-- Register Button -->
     <p>Haven't Registered with us yet?</p>
    <button type="button" class="btn-secondary" (click)="navigateToRegister()">Register</button>
  </form>
</div>
