<div class="analytics-dashboard">
  <div class="dashboard-header">
    <h2>Analytics Dashboard</h2>
  </div>
  <p>Select a report to view detailed data:</p>

  <div class="report-links">
    <button routerLink="/report1" class="report-button">Flight Age Data (Report 1)</button>
    <button routerLink="/report2" class="report-button">Passenger Counts Data (Report 2)</button>
    <button routerLink="/report3" class="report-button">Number of Bookings by Tier (Report 3)</button>
    <button routerLink="/report4" class="report-button">Past Flight Data (Report 4)</button>
    <button routerLink="/report5" class="report-button">Revenue By Aircraft Model (Report 5)</button>
  </div>
</div>
