body, html {
    height: 100%;
  }
  
  body {
    background: url('../public/Images/ross-parmly-rf6ywHVkrlY-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif; /* Add a global font style if needed */
  }
  
  /* Ensure all your Angular components are full height */
 app-root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
   