<div class="passenger-details-container">
    <h2>Passenger Details</h2>
  
    <!-- Timer Display -->
    <div class="timer-display">
      Time Remaining: {{ formatTime(timeLeft) }}
    </div>
  
    <form [formGroup]="passengerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="email">Booking Summary Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your email address" required />
      </div>

      <!-- Passenger Forms -->
      <div formArrayName="passengers" *ngFor="let passenger of passengers.controls; let i = index">
        <h3>Passenger {{ i + 1 }}</h3>
  
        <div [formGroupName]="i" class="passenger-form" >
          <div class="form-group user-id-group" *ngIf="isUserLoggedIn()">
            <!-- <label for="user_id_{{ i }}">User ID (optional)</label> -->
            <input id="user_id_{{ i }}" formControlName="email_reg" type="text" placeholder="Enter Registered Email (Optional)">
            <button 
              type="button" 
              class="fetch-button" 
              (click)="fetchUserDetails(i)"
              *ngIf="isUserLoggedIn()"
            >Auto-fill</button>
          </div>
  
          <div class="form-group">
            <label for="first_name_{{ i }}">Full Name</label>
            <input id="first_name_{{ i }}" formControlName="full_name" type="text" placeholder="Enter Full Name" required>
          </div>
  

  
          <div class="form-group">
            <label for="dob_{{ i }}">Date of Birth</label>
            <input id="dob_{{ i }}" formControlName="dob" type="date" required>
          </div>
  
          <div class="form-group">
            <label for="gender_{{ i }}">Gender</label>
            <select id="gender_{{ i }}" formControlName="gender" required>
              <option value="" disabled selected>Select gender</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="passport_number_{{ i }}">Passport Number</label>
            <input id="passport_number_{{ i }}" formControlName="passport_number" type="text" placeholder="Enter passport number" required>
          </div>
  
          <div class="form-group">
            <label for="address_{{ i }}">Phone Number</label>
            <input id="address_{{ i }}" formControlName="mobile_number" type="text" placeholder="Enter address" required>
          </div>
  

        </div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="submit-button">Proceed To Payment</button>
    </form>
  </div>
  
  